*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
gitpush.ps1

DBsetup.sql
resources/views/front/foods/show.blade.php
app/Http/Controllers/Admin/DashboardController.php
app/Http/Controllers/Admin/HealthStatusController.php
app/Http/Controllers/Admin/FoodController.php
app/Http/Controllers/Admin/NutrientController.php
app/Http/Controllers/Admin/ReportsController.php
app/Http/Requests/StoreFoodRequest.php
app/Http/Requests/StoreCategoryRequest.php
app/Http/Requests/StoreHealthStatusRequest.php
app/Http/Requests/StoreNutrientRequest.php
app/Http/Requests/UpdateCategoryRequest.php
app/Http/Requests/UpdateFoodRequest.php
app/Http/Requests/UpdateHealthStatusRequest.php
app/Http/Requests/UpdateNutrientRequest.php
resources/views/admin/dashboard.blade.php
resources/views/admin/categories/create.blade.php
resources/views/admin/categories/edit.blade.php
resources/views/admin/categories/index.blade.php
resources/views/admin/foods/create.blade.php
resources/views/admin/foods/edit.blade.php
resources/views/admin/foods/index.blade.php
resources/views/admin/health_statuses/edit.blade.php
resources/views/admin/health_statuses/create.blade.php
resources/views/admin/health_statuses/index.blade.php
resources/views/admin/nutrients/create.blade.php
resources/views/admin/nutrients/edit.blade.php
resources/views/admin/nutrients/index.blade.php
resources/views/admin/reports/audit_log.blade.php
resources/views/admin/reports/index.blade.php
